<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Global">

      </nb-tab>
      <nb-tab tabTitle="Navigation">
        <p>List of <strong>Navigation</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Form">
        <p>List of <strong>Form</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Modals & Overlays">
        <p>List of <strong>Modals & Overlays</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Extra">
        <p>List of <strong>Extra</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="CDK">
        <p>List of <strong>CDK</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Data Table">
        <p>List of <strong>Data Table</strong>.</p>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
