<nb-card>
  <nb-card-header>Card Basic</nb-card-header>
  <nb-card-body>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, dicta? Saepe doloremque qui maiores praesentium debitis natus vero quis nihil?</p>
  </nb-card-body>
  <nb-card-footer>footer</nb-card-footer>
</nb-card>

<nb-card status="info">
  <nb-card-header>Card Status Info</nb-card-header>
  <nb-card-body>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, dicta? Saepe doloremque qui maiores praesentium debitis natus vero quis nihil?</p>
  </nb-card-body>
  <nb-card-footer>footer</nb-card-footer>
</nb-card>

<nb-card accent="danger">
  <nb-card-header>Card Accetn Danger</nb-card-header>
  <nb-card-body>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, dicta? Saepe doloremque qui maiores praesentium debitis natus vero quis nihil?</p>
  </nb-card-body>
  <nb-card-footer>footer</nb-card-footer>
</nb-card>


<nb-flip-card style="width: 50%; margin: 0 auto;">
  <nb-card-front>
    <nb-card accent="danger">
      <nb-card-header>Front Card</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen,
        helium and other ionized gases.
        Originally, nebula was a name for
        any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card accent="info">
      <nb-card-header>Back Card</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen,
        helium and other ionized gases.
        Originally, nebula was a name for
        any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>

<!-- test -->
<nb-card>
  <nb-card-header>TEST DEMO</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-8">
        <nb-card>
          <nb-card-header>THỐNG KÊ NHÂN SỰ</nb-card-header>
          <nb-card-body>
             Card
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>THỐNG KÊ NHÂN SỰ</nb-card-header>
          <nb-card-body>
             Card
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card>
          <nb-card-header class="">THỐNG KÊ NHÂN SỰ</nb-card-header>
          <nb-card-body>
             Card
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
